In [7]:
import numpy as np

# Create an array from 1 to 10
arr = np.arange(1, 11)

# Reshape it into a 2x5 matrix
matrix = arr.reshape(2, 5)

print(matrix)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

In [9]:
import pandas as pd

# Create a Pandas Series
fruits = pd.Series({'apples': 3, 'bananas': 2, 'oranges': 1})

# Add a new item to the series
fruits['pears'] = 4

print(fruits)

apples     3
bananas    2
oranges    1
pears      4
dtype: int64

In [11]:
import pandas as pd

# Create a DataFrame
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Hank', 'Ivy', 'Jack'],
    'age': [25, 30, 22, 35, 40, 28, 32, 26, 29, 31],
    'gender': ['F', 'M', 'M', 'M', 'F', 'M', 'F', 'M', 'F', 'M']
}

df = pd.DataFrame(data)

print(df)

      name  age gender
0    Alice   25      F
1      Bob   30      M
2  Charlie   22      M
3    David   35      M
4      Eve   40      F
5    Frank   28      M
6    Grace   32      F
7     Hank   26      M
8      Ivy   29      F
9     Jack   31      M

In [13]:
# Add a new column 'occupation'
df['occupation'] = ['Programmer', 'Manager', 'Analyst', 'Programmer', 'Manager', 
                    'Analyst', 'Programmer', 'Manager', 'Analyst', 'Programmer']

print(df)

      name  age gender  occupation
0    Alice   25      F  Programmer
1      Bob   30      M     Manager
2  Charlie   22      M     Analyst
3    David   35      M  Programmer
4      Eve   40      F     Manager
5    Frank   28      M     Analyst
6    Grace   32      F  Programmer
7     Hank   26      M     Manager
8      Ivy   29      F     Analyst
9     Jack   31      M  Programmer

In [15]:
# Select rows where age >= 30
df_filtered = df[df['age'] >= 30]

print(df_filtered)

    name  age gender  occupation
1    Bob   30      M     Manager
3  David   35      M  Programmer
4    Eve   40      F     Manager
6  Grace   32      F  Programmer
9   Jack   31      M  Programmer

In [17]:
# Save DataFrame to CSV
df.to_csv("people.csv", index=False)

# Read the CSV file
df_csv = pd.read_csv("people.csv")

# Display the contents
print(df_csv)

      name  age gender  occupation
0    Alice   25      F  Programmer
1      Bob   30      M     Manager
2  Charlie   22      M     Analyst
3    David   35      M  Programmer
4      Eve   40      F     Manager
5    Frank   28      M     Analyst
6    Grace   32      F  Programmer
7     Hank   26      M     Manager
8      Ivy   29      F     Analyst
9     Jack   31      M  Programmer